// Specific CSS for your home-page
h1 {
  color: white;
}

.image {
  margin-top: -10px;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("http://www.hifreevideos.com/images/preview/Parchment-Paper-70561.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 10px 70px 200px 70px;
}
