// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
  width: 100%;
  line-height: 3;
  thead th {
    border-bottom: 1px solid gray;
  }
  margin-bottom: 30px;
}

.button {
  margin-bottom: 20px;
  margin-right: 20px;
}
